.btn-primary,
.btn-success,
.btn-danger,
.btn-secondary,
.btn-text {
  display: inline-block;
  padding: 0.5em 1em;
  margin: 0;
  margin-right: 0.75em;
  border: 2px solid transparent;
  border-radius: 4px;
  width: auto;
  overflow: visible;
  -webkit-appearance: none;
  background: transparent;
  color: inherit;
  font: inherit;
  font-size: var(--fs-base);
  font-weight: 700;
  line-height: normal;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  text-decoration: none;
  transition: all ease-in-out 0.3s;

  &:last-of-type { margin-right: 0; }

  &:hover {
    transform: scale(1.05);
  }

  &.btn-pill { border-radius: calc(var(--gutter) * 2); }

  &.sm { font-size: var(--fs-small); }
  &.lg { font-size: var(--fs-medium); }
}

.btn-primary {
  border-color: var(--brand);
  background-color: var(--brand);
  color: var(--white);
}

.btn-success {
  border-color: var(--success);
  background-color: var(--success);
  color: var(--white);
}

.btn-danger {
  border-color: var(--error);
  background-color: var(--error);
  color: var(--white);
}

.btn-secondary {
  border-color: var(--lighter-gray);
  background-color: var(--lighter-gray);
  color: var(--black);
}

.btn-text {
  color: var(--brand);

  &:hover { text-decoration: underline; }
}

.buttons-wrapper {
  margin-top: calc(var(--gutter) * -1);

  *[class^="btn-"] { margin-top: var(--gutter); }
}
