button { cursor: pointer; }

.btn-primary,
.btn-secondary,
.btn-success,
.btn-danger,
.btn-default,
.btn-filter,
.btn-text {
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 0;
  margin: 0;
  padding: 0;
  background: $primary;
  text-decoration: none;
  display: inline-block;
  line-height: normal;
  border-radius: 2px;
  padding: 0.5em 1.375em; // 5px 22px
  font-size: 14px;
  letter-spacing: normal;
  border: 0;
  text-align: center;
  color: $primary-darker;
  font-family: $heading-font;
  transition: all 0.3s ease-in-out;

  &:hover {
    // transform: scale(1.05);
  }

  &.lg {
    font-size: 1.11em;
  }
}

[class^="btn-"]  {
  & + & { #{$margin-left}: $gutter; }
}

.btn-primary {
  background-color: $primary;
  color: $true-white;

  &:hover {
    background-color: $primary-dark-blue;
  }
}

.btn-secondary {
  background-color: $primary-gray;

  &:hover {
    background-color: $primary-light-gray;
    color: $primary;
  }
}

.btn-success {
  background-color: $primary;
  color: $true-white;

  &:hover {
    background-color: $primary-dark-blue;
  }
}

.btn-danger {
  background-color: $primary-gray;
  color: $danger;

  &:hover {
    background-color: $danger;
    color: $true-white;
  }
}

.btn-filter {
  background-color: $primary-gray;
  color: $primary-darker;
  &:hover {
    background-color: $primary-light-gray;
    color: $primary;
  }
}

.btn-text {
  padding: 0;
  border: 0;
  color: $primary;
  background-color: transparent;
  border-bottom: 1px solid transparent;
  border-radius: 0;

  &:hover {
    border-color: $primary;
  }

  &.invert {
    color: $light-gray;

    &:hover {
      color: #fff;
    }
  }
}

.btn-toolbar { margin: 2em 0; }
