:root {
  --brand-dark: #133763;
  --brand: #10519E;
  --brand-light: #3482DF;

  --true-black: #000;
  --black: #16191D;
  --darker-gray: #2C323A;
  --dark-gray: #485361;
  --gray: #748190;
  --light-gray: #AAB4C0;
  --lighter-gray: #EAEDF0;
  --white: #F9FAFB;
  --true-white: #fff;

  --success-dark: #0D6323;
  --success: #0DAF36;
  --success-light: #C7F9D4;

  --error-dark: #630D0D;
  --error: #AF0D0D;
  --error-light: #AF0D0D;
}
