.form-group {
  margin-bottom: 1em;

  textarea {
    resize: vertical;
  }

  select {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9ImN1cnJlbnRDb2xvciIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGNsYXNzPSJmZWF0aGVyIGZlYXRoZXItY2hldnJvbi1kb3duIj48cG9seWxpbmUgcG9pbnRzPSI2IDkgMTIgMTUgMTggOSI+PC9wb2x5bGluZT48L3N2Zz4=);
    background-repeat: no-repeat;
    background-position: center right 0.5em;
  }

  input[type="text"],
  input[type="email"],
  input[type="number"],
  input[type="tel"],
  input[type="url"],
  input[type="password"],
  input[type="search"],
  textarea,
  select {
    display: block;
    width: 100%;
    padding: 0.5em 0.5em;
    border: none;
    border-bottom: 1px solid var(--light-gray);
    border-radius: 0;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: var(--lighter-gray);
    color: var(--black);
    font-family: var(--base-font);
    font-size: 1em;
    line-height: 1.5;
    transition: all 0.2s ease-in-out;

    &:focus {
      border-color: var(--brand-light);
    }

    &:disabled {
      opacity: 0.6;
      cursor: not-allowed;
    }
  }
}

.control-label {
  color: var(--black);
  font-size: var(--fs-small);
  font-weight: 600;

  span.optional {
    color: var(--light-gray);
  }
}

.checkbox {
  input {
    display: inline-block;
    margin-right: 0.5em;
  }

  label {
    display: inline-block;
    width: auto;
    font-size: 0.75em;
    font-weight: 500;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
  }

  span.optional {
    color: var(--gray);
  }
}

.check_boxes {
  .checkbox {
    display: block;
  }
}

.radio-group {
  label {
    display: block;
    margin-bottom: 0.5em;
    font-weight: 500;
  }

  input {
    position: relative;
    top: -0.25em;
    display: inline-block;
    margin-right: 0.5em;
  }
}

.form-inline {
  display: flex;
  justify-content: space-between;
  line-height: 2em;

  select {
    margin-left: 0.25em;
    margin-right: 0.25em;

    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
  }
}

.help-block {
  padding-bottom: 0;
  font-size: var(--fs-small);
  opacity: 0.5;
}

.has-error {
  .control-label {
    color: var(--error);
  }

  input[type="text"],
  input[type="email"],
  input[type="number"],
  input[type="tel"],
  input[type="password"],
  input[type="url"],
  input[type="date"],
  input[type="datetime-local"],
  textarea,
  select {
    border-color: var(--error);
  }

  .help-block {
    color: var(--error);
  }
}

@include bp($bp-desktop) {
  .form-group {
    max-width: 600px;
  }
}
