body {
  color: var(--black);
  font-family: var(--base-font);
  font-size: var(--fs-base);
  line-height: var(--base-line-height);
  background: var(--white);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: var(--brand);
}

small {
  font-size: var(--fs-small);
}

.tiny {
  font-size: var(--fs-tiny);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
  line-height: var(--base-line-height);
  font-weight: 700;
  line-height: 1.2;
}

h1 {
  font-size: var(--fs-huge);
}

h2 {
  font-size: var(--fs-xxlarge);
}

h3 {
  font-size: var(--fs-xlarge);
}

h4 {
  font-size: var(--fs-large);
}

h5 {
  font-size: var(--fs-medium);
}

h6 {
  font-size: var(--fs-base);
}

ul,
ol {
  list-style-position: inside;

  li {
    margin-bottom: 0.5em;
  }

  ul,
  li {
    margin-left: 1em;
  }
}

blockquote {
  font-family: var(--heading-font);
  font-size: var(--fs-large);
  line-height: 1.2;
  font-weight: 300;
  font-style: italic;
}
