@import url('https://rsms.me/inter/inter-ui.css');

$body-font: 'Inter UI', sans-serif;
$heading-font: 'Inter UI', sans-serif;

body {
  padding-bottom: 3em;
  font-family: $body-font;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
}

body {
  font-family: $body-font;
  font-weight: 300;
  line-height: 1.66;
  color: $black;
  background-color: $white;

  @include bp($bp-desktop) {
    font-size: 16px;
  }

  @include bp($bp-mobile) {
    font-size: 14px;
  }
}

a {
  color: #262626;
  text-decoration: underline;

  &:hover { text-decoration: none; }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.5em;
  line-height: 1.3;
}

h1 {
  line-height: 1;

  @include bp($bp-desktop) {
    font-size: 1.500em; // 24px
  }

  @include bp($bp-mobile) {
    font-size: 1.500em; // 24px
  }
}

h2 {
  line-height: 1.1;

  @include bp($bp-desktop) {
    font-size: 1.777em;
  }

  @include bp($bp-mobile) {
    font-size: 2.5em;
  }
}

h3 {

  @include bp($bp-desktop) {
    font-size: 1.333em;
  }

  @include bp($bp-mobile) {
    font-size: 1.7em;
  }
}

h4,
h5,
h6 {
  font-size: 1em;
}

p {
  margin-bottom: 1em;
}

small {
  font-size: 0.85em;
}

ul,
ol {
  list-style-position: inside;
  margin-bottom: 1em;
}

blockquote {
  padding-left: 1em;
  border-left: 6px solid #ddd;
  font-size: 1.414em;
  color: #666;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 1em;

  th,
  td {
    padding: 1.250em 0.5em; // 20px 8px
    text-align: flip(left, right);
  }

  th {
    font-family: $heading-font;
    font-weight: normal;
  }

  td { color: #8E8E8B; }

  tr {
    border-bottom: 1px solid #F5F5F5;
  }
}

.text-center { text-align: center; }

.page-title {
  margin-bottom: 3em;

  .link {
    padding-left: 20px;
    font-size: 16px;
    text-decoration: none;
    color: $primary;
  }
}
