$true-black: #000;
$true-white: #fff;
$black: #262626;
$white: #fefefe;
$lighter-gray: #ddd;
$light-gray: #aaa;
$gray: #888;
$dark-gray: #666;
$darker-gray: #555;

$primary-darker: #1F252C;
$primary-dark: #252D35;
$primary: #4196E0;
$danger: #c82333;
$success: #28a745;
