button { cursor: pointer; }

.btn-primary,
.btn-secondary,
.btn-success,
.btn-danger,
.btn-default,
.btn-text {
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 0;
  margin: 0;
  padding: 0;
  background: transparent;
  text-decoration: none;
  display: inline-block;
  line-height: 1;
  border-radius: 3px;
  padding: 0.75em 1em;
  font-size: 16px;
  font-weight: 600;
  border-width: 1px;
  border-style: solid;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  font-family: $heading-font;
  transition: all 0.3s ease-in-out;

  &:hover {
    // transform: scale(1.05);
  }

  &.lg {
    font-size: 1.11em;
  }
}

[class^="btn-"]  {
  & + & { margin-left: $gutter / 4; }
}

.btn-primary {
  border-color: $primary;
  background-color: $primary;

  &:hover {
    border-color: darken($primary, 7);
    background-color: darken($primary, 7);
  }
}

.btn-secondary {
  border-color: $light-gray;
  color: #000;

  &:hover {
    border-color: $black;
    color: #000;
  }
}

.btn-success {
  border-color: $success;
  background-color: $success;
  color: $true-white;

  &:hover {
    border-color: darken($success, 7);
    background-color: darken($success, 7);
  }
}

.btn-danger {
  border-color: $danger;
  background-color: $danger;
  color: $true-white;

  &:hover {
    border-color: darken($danger, 7);
    background-color: darken($danger, 7);
  }
}

.btn-text {
  padding: 0;
  color: $black;
  border-color: transparent;
  border: 0;
  border-radius: 0;

  &:hover {
    color: $gray;
  }

  &.invert {
    color: $light-gray;

    &:hover {
      color: #fff;
    }
  }
}

.btn-toolbar { margin: 2em 0; }
