.data-grid {
  width: 100%;

  .id { width: 70px; }

  .number {
    text-align: right;
    white-space: nowrap;
  }

  .bool {
    text-align: center;
  }

  .primary-action {
    color: var(--brand);
  }

  .actions {
    width: 120px;
    text-align: right;

    a {
      margin-right: .25em;

      &:last-child { margin-right: 0; }
    }
  }

  tbody {
    tr {
      .actions {
        a { opacity: 0 }
      }

      &:hover {
        background-color: var(--lighter-gray);
        border-bottom-color: var(--light-gray);

        .actions {
          a { opacity: 1; }
        }
      }
    }
  }
}