.data-grid {
  width: 100%;

  .id { width: 70px; }

  .number {
    text-align: flip(right, left);
    white-space: nowrap;
  }

  .bool {
    text-align: center;
  }

  .primary-action {
    color: #000;
    text-decoration: none;

    &:hover { color: $primary; }
  }

  .actions {
    width: 120px;
    text-align: flip(right, left);

    a {
      #{$margin-right}: .25em;

      &:last-child { #{$margin-right}: 0; }
    }
  }

  thead {
    th {
      font-size: 16px;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.25;
      letter-spacing: normal;
    }
  }

  tbody {

    tr {
      transition: all .3s ease-in-out;

      .actions {
        a { opacity: 0 }
      }

      &:hover {
        background-color: transparentize(#efefef, .7);
        border-bottom-color: #ccc;

        .actions {
          a { opacity: 1; }
        }
      }
    }
  }
}
