.admin-header {
  position: sticky;
  top: 0;
  z-index: 10;
  margin-bottom: 2em;
  background-color: rgba(255, 255, 255, 0.9);
  border-bottom: 1px solid var(--lighter-gray);
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
}

.admin-header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo, img {
    display: block;
    height: 28px;
  }

  .logo {
    &:hover { background-color: transparent; }
  }

  a {
    font-weight: 500;
    text-decoration: none;
    color: var(--black);

    &:hover { color: var(--true-black); }
  }

  nav {
    display: flex;
    gap: 1em;
    align-items: center;

    a {
      display: inline-block;
      padding: 1em 0;

      &:hover, &.current {
        position: relative;
        color: var(--brand);

        &:before {
          content: '';
          display: block;
          position: absolute;
          right: 0;
          bottom: 0;
          left: 0;
          z-index: 2;
          height: 4px;
          background-color: var(--lighter-gray);
        }
      }

      &.current {
        &:before {
          background-color: var(--brand);
        }
      }
    }
  }

  .sub-menu {
    position: relative;
    display: inline-block;
    padding: 1em;
    font-weight: 500;
    cursor: pointer;

    nav {
      display: none;
      position: absolute;
      left: 0;
      z-index: 1;
      width: 200px;
      margin: 0;
      margin-top: 0.75em;
      padding: 0;
      background-color: var(--true-white);
      border-radius: 4px;
      box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);

      a {
        display: block;
        padding: 1em;

        &:before {
          display: none;
        }

        &:hover {
          color: var(--brand);
        }
      }
    }

    &:hover {
      nav { display: block; }
    }
  }

  .profile {
    display: flex;

    .icon {
      filter: invert(1);
    }

    .username {
      margin-right: 1em;
      font-weight: 700;

      .icon { margin-right: 0.5em; }
    }
  }
}
