.admin-header {
  margin-bottom: 2em;
  background-color: var(--black);
  color: var(--white);
}

.admin-header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo, img { display: block; }

  .logo {
    &:hover { background-color: transparent; }
  }

  a {
    color: var(--white);
    font-weight: 500;
    text-decoration: none;

    &:hover { color: var(--lighter-gray); }
  }

  nav {
    a {
      display: inline-block;
      padding: 1em;

      &:hover, &.current {
        color: var(--true-white);
        background-color: var(--darker-gray);
      }
    }
  }

  .sub-menu {
    position: relative;
    display: inline-block;
    padding: 1em;
    font-weight: 500;
    cursor: pointer;

    nav {
      display: none;
      position: absolute;
      left: 0;
      padding: 0;
      margin: 0;
      margin-top: 0.75em;
      z-index: 1;
      width: 200px;
      background-color: var(--black);

      a { display: block; }
    }

    &:hover {
      nav { display: block; }
    }
  }

  .profile {
    display: flex;

    .username {
      margin-right: 1em;
      font-weight: 700;

      .icon { margin-right: 0.5em; }
    }
  }
}
