.admin-body {
  display: block;
  float: flip(left, right);
  width: calc(100% - 60px);
  #{$margin-left}: 60px;
}

.admin-header {
  margin-bottom: 2em;
  background-color: $menu-background-color;
  box-shadow: 0 1px 0 0 $menu-box-shadow-color;
  color: $primary-darker;
}

.admin-header-wrapper {
  min-height: 67px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo, img { display: block; }

  .logo {
    &:hover { background-color: transparent; }
  }

  a {
    position: relative;
    color: $primary-darker;
    text-decoration: none;

    &:hover {
      color: $primary;
    }
  }

  nav {
    #{$margin-left}: -1em;

    h2, a { display: inline-block; }

    h2 {
      position: relative;
      top: 2px;
      margin: 0;
      #{$margin-left}: .66em;
      font-family: $body-font;
      font-size: 1.5em;
    }

    a {
      #{$margin-left}: 1em;
      border-bottom: 1px solid transparent;

      &:hover,
      &.current {
        color: $primary;
        border-bottom-color: $primary;
      }
    }
  }

  .sub-menu {
    position: relative;
    display: inline-block;
    padding: 1em;
    cursor: pointer;

    nav {
      display: none;
      position: absolute;
      #{$left}: 0;
      padding: 0;
      margin: 0;
      z-index: 1;
      width: 200px;
      background-color: $menu-background-color;

      a {
        display: block;

        &:hover {
          &::before {
            content: none;
          }
        }
      }
    }

    &:hover {
      nav { display: block; }
    }
  }

  .profile {
    display: flex;

    .username {
      #{$margin-right}: 1em;

      .icon { #{$margin-right}: 0.5em; }
    }
  }
}
