$true-black: #000;
$true-white: #fff;
$black: #1F233F;
$white: #fefefe;
$lighter-gray: #ddd;
$light-gray: #aaa;
$gray: #888;
$dark-gray: #666;
$darker-gray: #555;

$primary-darker: #1F233F;
$primary-dark: #252D35;
$primary: #2E72F6;
$primary-dark-blue: #125AE6;
$primary-gray: #F3F3F3;
$primary-light-gray: #F3F1FF;
$danger: #E93C4D;
$success: #F3F3F3;

// Menu colors
$menu-background-color:#f9f9f9;
$menu-box-shadow-color: #c5c5c5;
$menu-active-color: $primary;

// Borders
$border-color: #F5F5F5;

// Tags input
$tag-background-color: #f9f9f9;

// Info panel
$info-panel-background-color: #f9f9f9;
