@function flip($value_ltr, $value_rtl) {
    @if $rtl { @return $value_rtl; }
    @else { @return $value_ltr; }
}
  
$padding-left:    padding-left;
$padding-right:   padding-right;
$margin-left:     margin-left;
$margin-right:    margin-right;
$border-right:    border-right;
$left:            left;
$right:           right;
  
@if $rtl {
    $padding-left:  padding-right;
    $padding-right: padding-left;
    $margin-left:   margin-right;
    $margin-right:  margin-left;
    $border-right:  border-left;
    $left:          right;
    $right:         left;
}